body{
    background-image: url("./WelcomeImages/welcomeBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.heading {
    text-align: center;
    color: white;
    
    margin: 0;
}

img{
    margin: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    border-bottom: 3px solid black;
}

li {
    display:inline;
    list-style-type: none;
    float: left;
    margin-bottom: 2px;
}

li a {
    color: lightgrey;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding:16px;
    font-size: 30px;  
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkgreen;
}